<div class="container">
    <h1><strong>Comments</strong></h1>
    <div class="row">
        <div class="col-md-12">
            <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)">
                <textarea name="comment" required ngModel #comment="ngModel" class="form-control" rows="2" placeholder="What are you thinking?"></textarea>
                <div *ngIf="comment.invalid && (comment.dirty || comment.touched) " class="">
                    <p *ngIf="comment.errors.required " style="color: red;font-size: 15px;">
                        Comment is required.
                    </p>


                </div>
                <p *ngIf="error" style="color: red;font-size: 15px;">
                    {{ errorMsg }}
                </p>
                <div class="mar-top clearfix">
                    <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>

                </div>
            </form>
        </div>
        <br>

    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="row" *ngFor="let comment of comments">
                <div class="col-md-1"><img class="img-circle img-sm" alt="Profile Picture" src="https://bootdey.com/img/Content/avatar/avatar1.png"></div>
                <div class="col-md-11">
                    <div class="mar-btm">
                        <a href="#" class="btn-link text-semibold media-heading box-inline">{{comment.auther[0].name | titlecase}}</a>
                        <p class="text-muted text-sm"> {{comment.created_at | dateAgo }}</p>
                    </div>
                    <p>{{comment.comment}}
                    </p>
                </div>

                <!-- <a class="media-left"></a>
                <div class="media-body">
                    <div class="mar-btm">
                        <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                        <p class="text-muted text-sm"> 11 min ago</p>
                    </div>
                    <p>{{comment.comment}}
                    </p>

                    <hr>
                </div> -->

            </div>

        </div>
        <br>

    </div>

</div>
