<app-dashboard></app-dashboard>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            Create Category
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-2" style="">
                        <label for="">Catagory :</label>
                    </div>
                    <div class="col-md-2" *ngIf="categories[0] ;else cat1block">
                        {{ categories[0][1] }}
                        <!-- <select name="" id="" class="form-control" (change)="getCategories(1,category1)" [(ngModel)]="category1">
              <option>Select Catagory 1</option>
              <option *ngFor="let category of categories[0]" value="{{ category.id }}">{{ category.blog_category }}
              </option>
            </select> -->

                    </div>
                    <ng-template #cat1block>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="Category Level 1" name="cat1" [(ngModel)]="categories_typed[0]">
                        </div>
                    </ng-template>
                    <!-- <div class="col-md-2" *ngIf="categories[1]">
                    <select name="" id="" class="form-control" (change)="getCategories(2,category2)" [(ngModel)]="category2">
              <option>Select Catagory 2</option>
              <option *ngFor="let category2 of categories[1]" value="{{ category2.id }}">{{ category2.blog_category }}
              </option>
            </select>
                </div>
                <div class="col-md-2" *ngIf="categories[2]">
                    <select name="" id="" class="form-control" (change)="getCategories(3,category3)" [(ngModel)]="category3">
              <option>Select Catagory 3</option>
              <option *ngFor="let category3 of categories[2]" value="{{ category3.id }}">{{ category3.blog_category }}
              </option>
            </select>
                </div>

                <div class="col-md-2" *ngIf="categories[3]">
                    <select name="" id="" class="form-control" (change)="getCategories(4,category4)" [(ngModel)]="category4">
              <option>Select Catagory 4</option>
              <option *ngFor="let category4 of categories[3]" value="{{ category4.id }}">{{ category4.blog_category }}
              </option>
            </select>
                </div>
                <div class="col-md-2" *ngIf="categories[4]">
                    <select name="" id="" class="form-control" (change)="getCategories(5,category5)" [(ngModel)]="category5">
              <option>Select Catagory 4</option>
              <option *ngFor="let category5 of categories[4]" value="{{ category5.id }}">{{ category5.blog_category }}
              </option>

            </select>
                </div> -->
                </div>

                <div class="row" *ngIf="categories[0]">
                    <br>
                    <div class="col-md-2"></div>
                    <div class="col-md-2" *ngIf="categories[1] ;else cat2block">{{ categories[1][1] }}</div>
                    <ng-template #cat2block>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="Category Level 2" name="cat2" [(ngModel)]="categories_typed[1]">
                        </div>
                    </ng-template>
                </div>

                <div class="row" *ngIf="categories[1]">
                    <br>
                    <div class="col-md-2"></div>
                    <div class="col-md-2" *ngIf="categories[2] ;else cat3block">{{ categories[2][1] }}</div>
                    <ng-template #cat3block>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="Category Level 3" name="cat3" [(ngModel)]="categories_typed[2]">
                        </div>
                    </ng-template>
                </div>

                <div class="row" *ngIf="categories[2]">
                    <br>
                    <div class="col-md-2"></div>
                    <div class="col-md-2" *ngIf="categories[3] ;else cat4block">{{ categories[3][1] }}</div>
                    <ng-template #cat4block>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="Category Level 4" name="cat4" [(ngModel)]="categories_typed[3]">
                        </div>
                    </ng-template>
                </div>

                <div class="row" *ngIf="categories[3]">
                    <br>
                    <div class="col-md-2"></div>
                    <div class="col-md-2" *ngIf="categories[4] ;else cat5block">{{ categories[4][1] }}</div>
                    <ng-template #cat5block>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="Category Level 5" name="cat5" [(ngModel)]="categories_typed[4]">
                        </div>
                    </ng-template>
                </div>
                <br>
                <!-- <br> {{ categories_typed | json }}
            <br> {{ categories | json }} -->
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2" *ngIf="cat_len <5"> <button class="btn btn-success" (click)="categorySubmit()">Next</button> </div>
                    <div class="col-md-4" *ngIf="cat_len ==5"> <a class="btn btn-success" routerLink="/categories">Manage Categories</a> </div>
                </div>
            </form>
        </div>
    </div>

</div>
