.login-box {
    box-shadow: 10px 10px 22px -5px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 380px;
    background: #ffffff;
}


/* .form-control.ng-untouched,
.form-control.ng-valid {
    border-color: #ccc !important;
} */
