<div class="container login-body">
    <div class="row" style="height:150px"></div>
    <div class="row">
        <div class="col-md-4 col-lg-4"></div>
        <div class="col-md-4 col-lg-4">
            <div class="login-box">
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-lg-4"></div>
                        <div class="col-md-4 col-lg-4">
                            <h6>Login Page</h6>
                        </div>
                        <div class="col-md-4 col-lg-4"></div>
                    </div>
                    <!-- <br> @if (session('status'))
                    <div class="bg-danger p-2 rounded mb-6  text-white text-center">
                        {{ session('status') }}
                    </div>
                    <br> @endif -->

                    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

                        <div class="row">

                            <div class="form-group col-md-12">
                                Email:
                                <input type="text" class="form-control" name="email" placeholder="Email" required email ngModel #email="ngModel">

                                <div *ngIf="email.invalid && (email.dirty || email.touched) " class="">
                                    <p *ngIf="email.errors.required " style="color: red;font-size: 15px;">
                                        Email is required.
                                    </p>
                                    <p *ngIf="email.errors?.email " style="color: red;font-size: 15px;">
                                        Enter a Valid Email
                                    </p>

                                </div>

                            </div>
                        </div>
                        <!-- <br> -->
                        <div class="row ">

                            <div class="form-group col-md-12 ">
                                Password:
                                <input type="password" class="form-control" name="password" placeholder="Password " required ngModel #password="ngModel" minlength="6">
                                <div *ngIf="password.invalid && (password.dirty || password.touched) " class="">
                                    <p *ngIf="password.errors.required " style="color: red;font-size: 15px;">
                                        Password is required.
                                    </p>
                                    <p *ngIf="password.errors.minlength" style="color: red;font-size: 15px;">
                                        Minimum 6 character is required.
                                    </p>

                                </div>

                            </div>
                        </div>
                        <br>
                        <p *ngIf="error" style="color: red;font-size: 15px;">
                            {{ errorMsg }}
                            <button type="button" class="btn" *ngIf="resendEmail" (click)="resendEmailNow()">Resend Email</button>
                        </p>
                        <div class="row" style="text-align: center;">
                            <div class="col-md-6">
                                <button class="btn btn-primary">Login</button>
                            </div>
                            <div class="col-md-6">
                                <a routerLink="/register" class="btn btn-success">Register</a>
                            </div>


                        </div>
                        <!-- {{ loginForm | json }} -->
                    </form>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 "></div>
    </div>
    <div class="row "></div>
</div>
