<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-3" style="font-size:14px;">Show</div>
                <div class="col-md-5">
                    <select name="" id="" class="form-control" style="width: 100%;" (change)="setPageRows($event.target.value) ">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
                </div>

                <div class="col-md-4" style="font-size:14px;">Entries</div>
            </div>

        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <input class="form-control" placeholder="Search" (keyup)="getData($event.target.value , data['path'])">
        </div>
    </div>

</div>
<br>
<table class=" row-border hover table ">
    <thead>
        <tr>
            <th *ngFor="let col of columns ">{{ col }}</th>

            <th *ngIf="action">Action</th>

            <!-- <th>Last name</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data['data'] ">
            <td>{{ row.id }}</td>
            <td>
                <span *ngIf="row.visibility==2 ; "><i class=" fa fa-lock "></i></span>
                <span *ngIf="row.visibility==1 ; "><i class="fa fa-globe "></i></span>

            </td>
            <td>{{ row.title }}</td>
            <td *ngIf="row.status==1 ">Draft</td>
            <td *ngIf="row.status==2 ">Published</td>
            <td *ngIf="row.status==3 ">Inactive</td>
            <td>
                <div [innerHTML]="(row.body.length>20)? (row.body | slice:0:20)+'...':(row.body)"></div>
            </td>
            <td *ngIf="action">
                <!-- <a routerLink="/blogs/{{ row.id }}" class='btn btn-primary '><i class='fa fa-eye'> </i></a>&nbsp;&nbsp;
                <a class='btn btn-success ' routerLink="/editblogs/{{ row.id }}"><i class='fa fa-pencil'>
          </i></a>&nbsp;&nbsp;
                <button *ngIf="row.status != 3" class='btn btn-danger del' id="{{ row.id }}" (click)="openDelModal(row.id)"><i class='fa fa-trash'> </i></button> -->
            </td>

            <!-- <td>{{ person.lastName }}</td> -->
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th *ngFor="let col of columns ">{{ col }}</th>

            <th *ngIf="action">Action</th>

            <!-- <th>Last name</th> -->
        </tr>
    </tfoot>
</table>
<hr>
<div class="row">
    <div class="col-md-3">
        Showing {{ data['from'] }} to {{ data['to'] }} out of {{ data['total'] }} entries
    </div>
    <div class="col-md-3"></div>
    <!-- <div class="col-md-3"></div> -->
    <div class="col-md-6">
        <div class="row" style="justify-content: center;">
            <div *ngFor="let link of data['links']">
                <button class="btn btn-primary" [disabled]="link['active']" (click)="getData('',link['url'])">
          <div [innerHTML]="link['label']"></div>
        </button>&nbsp;&nbsp;
            </div>

        </div>
    </div>
</div>
