<div class="container login-body">
    <div class="row" style="height:50px"></div>
    <div class="row">
        <div class="col-md-4 col-lg-4"></div>
        <div class="col-md-4 col-lg-4">
            <div class="register-box">
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-lg-4"></div>
                        <div class="col-md-4 col-lg-4">
                            <h6>Register</h6>
                        </div>
                        <div class="col-md-4 col-lg-4"></div>
                    </div>


                    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                        <div class="row">

                            <div class="form-group col-md-12">
                                Name:
                                <input type="text" class="form-control" name="name" placeholder="Name" required ngModel #name="ngModel">

                                <div *ngIf="name.invalid && (name.dirty || name.touched) " class="">
                                    <p *ngIf="name.errors.required " style="color: red;font-size: 15px;">
                                        Name is required.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-md-12">
                                Email:
                                <input type="text" class="form-control" name="email" placeholder="Email" required email ngModel #email="ngModel">

                                <div *ngIf="email.invalid && (email.dirty || email.touched) " class="">
                                    <p *ngIf="email.errors.required " style="color: red;font-size: 15px;">
                                        Email is required.
                                    </p>
                                    <p *ngIf="email.errors?.email " style="color: red;font-size: 15px;">
                                        Enter a Valid Email
                                    </p>

                                </div>

                            </div>
                        </div>
                        <!-- <br> -->
                        <div class="row ">

                            <div class="form-group col-md-12 ">
                                Password:
                                <input type="password" class="form-control" name="password" placeholder="Password " required ngModel #password="ngModel">
                                <div *ngIf="password.invalid && (password.dirty || password.touched) " class="">
                                    <p *ngIf="password.errors.required " style="color: red;font-size: 15px;">
                                        Password is required.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="row ">

                            <div class="form-group col-md-12 ">
                                Confirm Password:
                                <input type="password" class="form-control" name="password_confirmation" placeholder="Confirm Password " required ngModel #password_confirmation="ngModel">
                                <div *ngIf="password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched) " class="">
                                    <p *ngIf="password_confirmation.errors.required " style="color: red;font-size: 15px;">
                                        Confirm Password is required.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <br>
                        <p *ngIf="error" style="color: red;font-size: 15px;">
                            {{ errorMsg }}
                        </p>
                        <div class="row" style="text-align: center;">
                            <div class="col-md-6">
                                <button class="btn btn-primary">Register</button>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-success" routerLink="/login">Login</a>
                            </div>


                        </div>
                        <!-- {{ registerForm | json }} -->
                    </form>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 "></div>
    </div>
    <div class="row "></div>
</div>
