<app-dashboard></app-dashboard>

<br>
<div class="container">

    <br>
    <div class="card">
        <div class="card-header">
            Edit Blog
        </div>
        <div class="card-body">
            <div class=" form-group ">
                <div class="row ">
                    <div class="col-md-2 " style=" ">
                        <label for=" ">Catagory :</label>
                    </div>
                    <div class="col-md-2" *ngIf="!chng_category">{{ category }} <button (click)="chng_category = true" class="btn"><i class="fa fa-close"></i></button></div>
                    <div class="col-md-2" *ngIf="categories[0] && chng_category">

                        <select name="category1" id=" " class="form-control " (change)="getCategories(1,$event.target.value) ">
              <option value="">Select Catagory 1</option>
              <option *ngFor="let category of categories[0] " value="{{ category.id }}">{{ category.blog_category }}
              </option>
            </select>
                    </div>
                    <div class="col-md-2 " *ngIf="categories[1] ">
                        <select name="category2" id=" " class="form-control " (change)="getCategories(2,$event.target.value) ">
              <option>Select Catagory 2</option>
              <option *ngFor="let category2 of categories[1] " value="{{ category2.id }}">{{ category2.blog_category }}
              </option>
            </select>
                    </div>
                    <div class="col-md-2 " *ngIf="categories[2] ">
                        <select name="category3" id=" " class="form-control " (change)="getCategories(3,$event.target.value) ">
              <option>Select Catagory 3</option>
              <option *ngFor="let category3 of categories[2] " value="{{ category3.id }}">{{ category3.blog_category }}
              </option>
            </select>
                    </div>

                    <div class="col-md-2 " *ngIf="categories[3] ">
                        <select name="category4" id=" " class="form-control " (change)="getCategories(4,$event.target.value) ">
              <option>Select Catagory 4</option>
              <option *ngFor="let category4 of categories[3] " value="{{ category4.id }}">{{ category4.blog_category }}
              </option>
            </select>
                    </div>
                    <div class="col-md-2 " *ngIf="categories[4] ">
                        <select name="category5" id=" " class="form-control " (change)="getCategories(5,$event.target.value) ">
              <option>Select Catagory 4</option>
              <option *ngFor="let category5 of categories[4] " value="{{ category5.id }}">{{ category5.blog_category }}
              </option>

            </select>
                    </div>
                </div>
                <div *ngIf="blogFormControl.category_id.invalid && (blogFormControl.category_id.dirty || blogFormControl.category_id.touched) " class="">
                    <p *ngIf="blogFormControl.category_id.errors?.required " style="color: red;font-size: 15px;">
                        Category is required.
                    </p>


                </div>

            </div>
            <br>
            <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                <!-- <input type="text" name="category_id" formControlName="category_id" value="{{ category_id }}" style="display:none">
            <input type="text" name="status" formControlName="status" value="{{ status }}" style="display:none"> -->
                <div class="form-group ">
                    <div class="row ">
                        <div class="col-md-1 " style=" ">
                            <label for=" ">Title :</label>
                        </div>
                        <div class="col-md-11 ">
                            <input type="text" name="title" id=" " class="form-control " placeholder="Enter Title " formControlName="title" required />
                            <div *ngIf="blogFormControl.title.invalid && (blogFormControl.title.dirty || blogFormControl.title.touched ) " class="">
                                <p *ngIf="blogFormControl.title.errors?.required " style="color: red;font-size: 15px;">
                                    Title is required.
                                </p>


                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="form-group ">
                    <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" formControlName="body" required></ckeditor>
                    <div *ngIf="blogFormControl.body.invalid && (blogFormControl.body.dirty || blogFormControl.body.touched) " class="">
                        <p *ngIf="blogFormControl.body.errors?.required " style="color: red;font-size: 15px;">
                            Body is required.
                        </p>


                    </div>
                </div>
                <br>
                <div class="form-group ">
                    <div class="row ">
                        <div class="col-md-2 ">
                            <label for=" ">Thumbnail :</label>
                        </div>
                        <div class="col-md-4 ">
                            <input type="file" name="thumbnail" id=" " formControlName="thumbnail" class=" form-control " (change)="fileEvent($event)" />
                            <div *ngIf="blogFormControl.thumbnail.invalid && (blogFormControl.thumbnail.dirty || blogFormControl.thumbnail.touched) " class="">

                                <p *ngIf="blogFormControl.thumbnail.errors" style="color: red;font-size: 15px;">
                                    Only Jpeg , Png , jpg format allowed.
                                </p>
                            </div>

                        </div>
                        <div class="col-md-2 ">
                            <label for=" ">Visibility :</label>
                        </div>
                        <div class="col-md-4 "><select name="visibility" formControlName="visibility" id=" " class="form-control " required>
                <option value=1>Public</option>
                <option value=2>Private</option>


              </select>

                            <div *ngIf="blogFormControl.visibility.invalid && (blogFormControl.visibility.dirty || blogFormControl.visibility.touched) " class="">
                                <p *ngIf="blogFormControl.visibility.errors?.required " style="color: red;font-size: 15px;">
                                    Visibility is required.
                                </p>


                            </div>

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ imageURL }}" alt="" style="width:100%">
                        </div>
                        <div class="col-md-6" [ngClass]="blogFormControl.visibility.value == '2' ? 'authers-display': 'authers-hidden'">
                            <label for="cars">Choose Authers:</label>

                            <select class="form-control selectpicker" name="authers" formControlName="authers" multiple data-live-search="true">
                <!-- <option value="0">Volvo</option> -->
                <!-- <option value=1>Public</option>
                <option value=2>Private</option> -->
                <option *ngFor="let auther of authers " value="{{ auther.id }}">{{ auther.name }}</option>
              </select>
                        </div>
                    </div>

                </div>
                <br>
                <p *ngIf="error " style="color: red;font-size: 15px; ">
                    {{ errorMsg }}
                </p>
                <div class="form-group ">
                    <div class="row">
                        <div class="col-md-2"><button class="btn btn-success " (click)="status =1">Save as Draft</button></div>
                        <div class="col-md-2"> <button class="btn btn-primary " (click)="status =2">Publish Now</button></div>
                    </div>


                </div>
            </form>
            <!-- <select class="selectpicker" multiple data-live-search="true">
              <option *ngFor="let auther of authers " value="{{ auther.id }}">{{ auther.name }}</option>
            </select> -->
        </div>

    </div>

</div>
