<app-dashboard></app-dashboard>



<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            My Blogs
        </div>
        <div class="card-body">
            <!-- <app-table [data]="blogs" [columns]="columns" [params]="params">

            </app-table>
            <br>
            <br> -->

            <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"> -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-3" style="font-size:14px;">Show</div>
                            <div class="col-md-5">
                                <select name="" id="" class="form-control" style="width: 100%;" (change)="setPageRows($event.target.value) ">
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                            </div>

                            <div class="col-md-4" style="font-size:14px;">Entries</div>
                        </div>

                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <input class="form-control" placeholder="Search" (keyup)="getMyBlogs($event.target.value)">
                    </div>
                </div>

            </div>
            <br>
            <table class=" row-border hover table ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th></th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Body</th>
                        <th>Action</th>

                        <!-- <th>Last name</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let blog of blogs[ 'data'] ">
                        <td>{{ blog.id }}</td>
                        <td>
                            <span *ngIf="blog.visibility==2 ; "><i class=" fa fa-lock "></i></span>
                            <span *ngIf="blog.visibility==1 ; "><i class="fa fa-globe "></i></span>

                        </td>
                        <td>{{ blog.title }}</td>
                        <td *ngIf="blog.status==1 ">Draft</td>
                        <td *ngIf="blog.status==2 ">Published</td>
                        <td *ngIf="blog.status==3 ">Inactive</td>
                        <td>
                            <div [innerHTML]="(blog.body.length>20)? (blog.body | slice:0:20)+'...':(blog.body)"></div>
                        </td>
                        <td>
                            <a routerLink="/blogs/{{ blog.id }}" class='btn btn-primary '><i class='fa fa-eye'> </i></a>&nbsp;&nbsp;
                            <a class='btn btn-success ' routerLink="/editblogs/{{ blog.id }}"><i class='fa fa-pencil'>
                </i></a>&nbsp;&nbsp;
                            <button *ngIf="blog.status != 3" class='btn btn-danger del' id="{{ blog.id }}" (click)="openDelModal(blog.id)"><i class='fa fa-trash'> </i></button>
                        </td>

                        <!-- <td>{{ person.lastName }}</td> -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th></th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Body</th>
                        <th>Action</th>

                        <!-- <th>Last name</th> -->
                    </tr>
                </tfoot>
            </table>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    Showing {{ blogs['from'] }} to {{ blogs['to'] }} out of {{ blogs['total'] }} entries
                </div>
                <div class="col-md-3"></div>
                <!-- <div class="col-md-3"></div> -->
                <div class="col-md-6">
                    <div class="row" style="justify-content: center;">
                        <div *ngFor="let link of blogs['links']">
                            <button class="btn btn-primary" [disabled]="link['active']" (click)="getMyBlogs('',link['url'])"><div [innerHTML]="link['label']"></div></button>&nbsp;&nbsp;
                        </div>
                        <!-- <div class="col-md-6">
                            <button class="btn btn-primary" [disabled]="!blogs['next_page_url']" (click)="getMyBlogs(blogs['next_page_url'])">Next</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
