<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Are you sure you want to delete?</h1>
    </header>
    <section id="modal-body">
        <p *ngIf="del_type != 'category'; else elseblock">If you delete this blog it will go into inactive state</p>
        <ng-template #elseblock>
            <p>Are you sure to delete this Category</p>
        </ng-template>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button " (click)="actionFunction() ">Delete</button>
        <button mat-raised-button id="modal-cancel-button " (click)="closeModal() ">Go back</button>
    </footer>
</div>
