<div class="container" *ngIf="alertService.show">
    <br>
    <div id="formAlerts" class="alert" [ngClass]="alertService.error ? 'alert-danger':'alert-success'">
        <a class="close" (click)="alertService.hideAlert()">×</a>
        <strong *ngIf="!alertService.error">Success!</strong>
        <strong *ngIf="alertService.error">Error!</strong>
        <span id="msg"> {{ alertService.msg }}</span>
    </div>

</div>
