<app-dashboard></app-dashboard>

<div class="Bloglist">
    <br>

    <div class="container" *ngFor="let row of blog">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h1><strong>{{ row.title | titlecase }}</strong></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p></p>
                        <p>
                            <i class="fa fa-user"></i> by <a>{{ row.auther[0]['name'] | titlecase }}</a> | <i class="fa fa-calendar"></i> {{ row.published_at | date }} | <i class="fa fa-tags"></i> Category :
                            <a><span class="label label-info">{{ row.category[0]['blog_category'] | titlecase }}</span></a>

                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <a class="thumbnail">
                            <img style="width: 100%;" src="{{ thumbnailUrl + row.thumbnail }}" alt="">
                        </a>
                    </div>

                </div>
                <br>
                <div class="row">
                    <!-- <div class="col-md-3">

                    </div> -->
                    <div class="col-md-12">
                        <div [innerHTML]="(row.body)"></div>






                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">

                        <p>
                            <i class="fa fa-user"></i> by <a>{{ row.auther[0]['name'] | titlecase }}</a> | <i class="fa fa-calendar"></i> {{ row.published_at | date }} | <i class="fa fa-comment"></i> <a> {{
                row.comments.length }} Comments</a> | <i class="fa fa-heart"></i>
                            <a> {{ row.likes.length }} Likes</a> | <i class="fa fa-tags"></i> Category :
                            <a><span class="label label-info">{{ row.category[0]['blog_category'] | titlecase }}</span></a>

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button (click)="onLike()" class="btn"><span *ngIf="is_liked; else unlike"><i
                  class="fa fa-heart" style="color:red;font-size: 20px;"></i></span>
              <ng-template #unlike><i class="fa fa-heart-o" style="color:red;font-size: 20px;"></i></ng-template>
            </button>
                    </div>

                </div>
                <hr>
            </div>



        </div>

        <app-comment [comments]="row.comments"></app-comment>

    </div>

</div>
