.Bloglist {
    background-color: white;
    height: 90%;
}

hr {
    height: 1px;
    border-width: 0;
    color: rgb(182, 180, 180);
    background-color: rgb(160, 158, 158)
}

.example-viewport {
    height: 95%;
    width: 100%;
    /* border: 1px solid black; */
}


/* .example-viewport {
    height: 250px;
    width: 25%;
    margin-left: 50px;
    border: 1px solid saddlebrown;
    display: flex;
}

.list {
    height: 80px;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-left: 40px;
}

h1 {
    margin-left: 18px;
} */


/* .container {
    margin-bottom: 40px;
    display: flex;
} */

.example-item-detail {
    height: 18px;
}

.example-alternate {
    background: rgba(127, 127, 127, 0.3);
}
