<app-dashboard></app-dashboard>

<div class="Bloglist">
    <br>
    <!-- <div class="container">
        <h2>Brits Performing artists</h2>
        <cdk-virtual-scroll-viewport itemSize="200" class="example-viewport">
            <div *ngFor="let blog of blogs" class="list">
                <h2>{{blog.title}}</h2>
            </div>
        </cdk-virtual-scroll-viewport>
    </div> -->
    <!-- <div class="container"> -->
    <!-- <cdk-virtual-scroll-viewport [itemSize]="18 * 7" class="example-viewport">
            <div *cdkVirtualFor="let item of items;
                             let index = index;
                             let count = count;
                             let first = first;
                             let last = last;
                             let even = even;
                             let odd = odd;" [class.example-alternate]="odd">
                <div class="example-item-detail">Item: {{item}}</div>
                <div class="example-item-detail">Index: {{index}}</div>
                <div class="example-item-detail">Count: {{count}}</div>
                <div class="example-item-detail">First: {{first ? 'Yes' : 'No'}}</div>
                <div class="example-item-detail">Last: {{last ? 'Yes' : 'No'}}</div>
                <div class="example-item-detail">Even: {{even ? 'Yes' : 'No'}}</div>
                <div class="example-item-detail">Odd: {{odd ? 'Yes' : 'No'}}</div>
            </div>
        </cdk-virtual-scroll-viewport> -->

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10"></div>
    </div>

    <cdk-virtual-scroll-viewport itemSize="200" class="example-viewport" minBufferPx=10 maxBufferPx=100>
        <ng-container *cdkVirtualFor="let blog of blogs;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h2><strong><a routerLink="/blogs/{{ blog.id }}">{{ blog.title | titlecase }}</a></strong></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a routerLink="/blogs/{{ blog.id }}" class="thumbnail">
                                    <img style="width: 100%;" src="{{ thumbnailUrl + blog.thumbnail }}" alt="">
                                </a>
                            </div>
                            <div class="col-md-9">
                                <div [innerHTML]="(blog.body.length>500)? (blog.body | slice:0:500)+'...':(blog.body)"></div>

                                <a class="btn " routerLink="/blogs/{{ blog.id }}">Read more</a>




                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p></p>
                                <p>
                                    <i class="fa fa-user"></i> by <a routerLink="/blogs/{{ blog.id }}">{{ blog.auther[0]['name'] | titlecase
                  }}</a> | <i class="fa fa-calendar"></i> {{ blog.published_at | date }} | <i class="fa fa-comment"></i>
                                    <a routerLink="/blogs/{{ blog.id }}"> {{ blog.comments.length }} Comments</a> | <i class="fa fa-heart"></i>
                                    <a routerLink="/blogs/{{ blog.id }}"> {{ blog.likes.length }} Likes </a> | <i class="fa fa-tags"></i> Category : <a routerLink="/blogs/{{ blog.id }}"><span class="label label-info">{{
                    blog.category[0]['blog_category'] | titlecase }}</span></a>

                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>


                </div>
            </div>
        </ng-container>

    </cdk-virtual-scroll-viewport>




    <!-- </div> -->

</div>
