<app-dashboard></app-dashboard>

<br>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            Categories
        </div>
        <div class="card-body">

            <a class="btn btn-success" routerLink="/categories/create"> Create Category</a>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-3" style="font-size:14px;">Show</div>
                            <div class="col-md-5">
                                <select name="" id="" class="form-control" style="width: 100%;" (change)="setPageRows($event.target.value) ">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
                            </div>

                            <div class="col-md-4" style="font-size:14px;">Entries</div>
                        </div>

                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <input class="form-control" placeholder="Search" (keyup)="getCategories(0,'parent_id',$event.target.value)">
                    </div>
                </div>

            </div>
            <br>

            <table class="row-border hover table ">
                <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"> -->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category</th>
                        <th>Actions</th>

                        <!-- <th>Last name</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories['data']">
                        <td>{{ category.id }}</td>
                        <td>{{ category.blog_category }}</td>
                        <td>
                            <button class='btn btn-primary del' id="{{ category.id }}" (click)="getCategories(category.id  ,'parent_id')"><i class='fa fa-eye' > </i></button>&nbsp;&nbsp;

                            <button class='btn btn-success ' (click)="openUpdateModal(category.id , category.blog_category)"><i class='fa fa-pencil'> </i></button>&nbsp;&nbsp;
                            <button class='btn btn-danger del' id="{{ category.id }}" (click)="openDelModal(category.id )"><i class='fa fa-trash' > </i></button>&nbsp;&nbsp;
                            <button class='btn btn-info ' *ngIf="category.parent_id != 0" id="{{ category.id }}" (click)="getCategories(category.parent_id ,'id')"><i class='fa fa-undo'></i></button>&nbsp;&nbsp;
                        </td>
                        <!-- <td>{{ person.lastName }}</td> -->
                    </tr>
                </tbody>
                <!-- <tbody *ngIf="persons?.length == 0">
                  <tr>
                      <td colspan="3" class="no-data-available">No data!</td>
                  </tr>
              </tbody> -->
            </table>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    Showing {{ categories['from'] }} to {{ categories['to'] }} out of {{ categories['total'] }} entries
                </div>
                <div class="col-md-3"></div>
                <!-- <div class="col-md-3"></div> -->
                <div class="col-md-6">
                    <div class="row" style="justify-content: center;">
                        <div *ngFor="let link of categories['links']">
                            <button class="btn btn-primary" [disabled]="link['active']" (click)="getCategories(cat_id = 0, key = 'parent_id','',link['url'])"><div [innerHTML]="link['label']"></div></button>&nbsp;&nbsp;
                        </div>
                        <!-- <div class="col-md-6">
                            <button class="btn btn-primary" [disabled]="!categories['next_page_url']" (click)="getMycategories(categories['next_page_url'])">Next</button>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
