<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Update Category</h1>
    </header>
    <section id="modal-body">
        <!-- <p> -->
        <form [formGroup]="updateCat" (ngSubmit)="onSubmit()">
            Category:
            <input type="text" class="form-control" value="{{ category }}" id="" formControlName="category">
            <div *ngIf="updateCatControl.category.invalid && (updateCatControl.category.dirty || updateCatControl.category.touched ) " class="">
                <p *ngIf="updateCatControl.category.errors?.required " style="color: red;font-size: 15px;">
                    Category is required.
                </p>


            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer id="modal-footer">

                <button mat-raised-button id="modal-action-button ">Update</button>
                <button mat-raised-button id=" modal-cancel-button " type="button" (click)="closeModal() ">Go back</button>
            </footer>

        </form>

        <!-- </p> -->

    </section>

</div>
