<nav class="navbar navbar-expand-md">
    <button class="btn navbar-brand" (click)="loadBlogsTable()">Blogs App</button>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn nav-link" routerLink="/myblogs">My Blogs</a>
            </li>
            <li class="nav-item">
                <a class="btn nav-link" routerLink="/blog/create">New Blog</a>
            </li>
            <li class="nav-item">
                <a class="btn nav-link" routerLink="/blogs">All Blogs</a>
            </li>
            <li class="nav-item">
                <a class="btn nav-link" routerLink="/categories">Manage Catagories</a>
            </li>
            <li class="nav-item">
                <!-- <form action="{{ route('logout') }}" method="post"> -->

                <button class="btn nav-link" (click)="logout()">( {{ autherName }} ) Logout</button>
                <!--  </form> -->
            </li>

        </ul>
    </div>
    <!-- <div class="nav navbar-right">

    </div> -->
    <!-- </div> -->
</nav>

<app-alert></app-alert>
<!-- <button class="btn btn-primart" (click)="logout()">Logout</button> -->
